header {
    font-family: Futura, Trebuchet MS;
    font-weight: bold condensed;
    color:  #FFFFFF;
    font-size: 25px;
    background-color: #333333;
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.2s;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #FFFFFF;
    margin: 0px;
}

.bottom-bar {
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #333333;
    color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
  }
  
  .bottom-bar__content {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  .bottom-bar__content > * {
    display: flex;
    align-items: center;
  }
  
  .bottom-bar__text {
    padding-right: 10px;
  }
  
  .bTab {
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 2em;
  }